@model bool

@{
    Layout = null;
}
@{
    if (!Model)
    {
        <li class="nav-item d-flex align-items-center">
            <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item d-flex align-items-center">
            <a asp-page="/Login" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Logout</span>
            </a>
        </li>
    }
}