@page
@model Products

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Product</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Products
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet"/>
    <link href="~/css/nucleo-svg.css" rel="stylesheet"/>
    <link href="~/css/product/product.css" rel="stylesheet"/>
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/material-dashboard.css?v=3.1.0" rel="stylesheet"/>
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>
<body>
@await Component.InvokeAsync("SideLeft")

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <form method="post" id="myForm">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="javascript:">Pages</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Products</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Product</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <i class="material-icons opacity-10" style="cursor: pointer; margin-right: 5px;" onclick="search()">search</i>
                        <div class="input-group input-group-outline">
                            <label class="form-label"></label>
                            <input type="text" class="form-control" id="searchText">
                        </div>
                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>

                        <partial name="Shared/Partials/_RightTopConner" model="true"/>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- EndNavbar -->

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Products table</h6>
                            </div>

                            <div class="badge rounded-pill bg-primary float-end mt-2" onclick="showCartModal()" style="cursor: pointer;">
                                <i class="material-icons opacity-10" style="vertical-align: middle;">shopping_cart</i>
                                <span id="cartBadge" class="align-middle">0</span>
                            </div>
                        </div>

                        <div id="listPartial">
                            <partial name="Shared/_ProductListPartial" model="Model.ListProduct"/>
                        </div>

                    </div>
                </div>
            </div>

            <div class="float-end ">
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getListPaging(1)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getListPaging(2)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getListPaging(3)">3</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getListPaging(4)">4</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getListPaging(5)">5</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" onclick="getListPaging(6)">6</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <partial name="Shared/Partials/_FooterPartial"/>
        </div>

        <div class="modal fade" id="cartModal" tabindex="2" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content row">
                    <div class="modal-header col-12 bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h5 class="modal-title " id="cartModalLabel">Shopping Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Product Quantity</th>
                                <th>Product Price</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="cartTableBody">
                            <!-- Cart items will be added dynamically here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center align-content-center">
                        <div >
                            <b>Total Quantity: </b>
                            <span id="totalQuantity"> 0</span>
                        </div>

                        <div >
                            <b>Total Price: </b>
                            <span id="totalPrice"> 0 $</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="modal-footer col-10">
                            <button type="button" class="btn btn-success" onclick="orderProduct()">Order</button>
                        </div>
                        <div class="modal-footer col-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="Shared/Partials/_toastyAnnounce"/>
    </form>
</main>
@Html.AntiForgeryToken()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/product/product.js" asp-append-version="true"></script>
<script src="~/js/core/popper.min.js"></script>
<script src="~/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/js/plugins/smooth-scrollbar.min.js"></script>

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
</body>
</html>